* {
    font-family: 'Arial';
    font-display: swap;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: #000000;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.orbit {
    border-radius: 50%;
}

#sun {
    background: #FFFF00;
    border-radius: 50%;
}

.planet {
    position: absolute;
    translate: -50% -50%;
    border-radius: 50%;
    box-shadow: 0 0 8px 1.5px #FFFFFF;
}

#mercury {
    background: #3b4a12;
}

#mercury-orbit {
    background: #4c5b23;
}

#venus {
    background: #afcb78;
}

#venus-orbit {
    background: #c0dc89;
}

#earth {
    background: #23abff;
}

#earth-orbit {
    background: #34bcff;
}

#mars {
    background: #f45b00;
}

#mars-orbit {
    background: #ff6c11;
}

#jupiter {
    background: #af9a4b;
}

#jupiter-orbit {
    background: #c0ab5c;
}

#saturn {
    background: #cff448;
}

#saturn-orbit {
    background: #e0ff59;
}

#uranus {
    background: #3ab0ff;
}

#uranus-orbit {
    background: #4bc1ff;
}

#neptune {
    background: #0000ff;
}

#neptune-orbit {
    background: #1111ff;
}
